<div class="container-fluid overflow-hidden">
  <div class="row flex-nowrap">
    <!-- Sidebar -->
    <div class="col-auto col-md-3 col-xl-2 sidebarbg px-sm-2 px-0">
      <div id="sidebar" class="collapse d-md-block sidebar">
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white"
          style="position: sticky; top: 0; height: 100vh"
        >
          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu"
          >
            <li class="nav-item mt-5 mb-3 w-100">
              <button
                (click)="showAllPatients()"
                class="btn blackbtn w-100 px-3 align-middle px-0"
              >
                <span class="ms-1 d-none d-sm-inline">All Patients</span>
                <i class="fs-4 bi-database-fill ms-2"></i>
              </button>
            </li>
            <!-- Sidebar Item to add New Patient -->
            <li class="nav-item mb-3 w-100">
              <button
                (click)="navigateToAddPatient()"
                class="btn btn-light px-3 w-100 align-middle px-0"
              >
                <span class="ms-1 d-none d-sm-inline">New Patient</span>
                <i class="fs-4 bi bi-plus ms-2"></i>
              </button>
            </li>

            <li class="nav-item mb-3 w-100">
              <a
                (click)="sendBulkSMS()"
                class="btn btn-light px-3 w-100 align-middle px-0"
              >
                <span class="ms-1 d-none d-sm-inline">Send SMS</span>
                <i class="fs-4 bi-envelope-fill ms-2"></i>
              </a>
            </li>
            <li class="nav-item mb-3 w-100 d-none">
              <a
                (click)="showalllabresults()"
                class="btn btn-light px-3 w-100 align-middle px-0"
              >
                <span class="ms-1 d-none d-sm-inline">Show Lab Results</span>
                <i class="fs-4 bi-gear-wide-connected ms-2"></i>
              </a>
            </li>
          </ul>

          <hr />
          <img src="logo.jpg" class="img-fluid mb-0" alt="" srcset="" />
          <p class="mt-0 mb-3 text-white text-center">
            © Dr. Fredrick Katongole
          </p>
          <p class="w-100">
            <a class="btn btn-danger w-100" (click)="logout()">
              <span class="bi bi-power me-2"></span> Logout
            </a>
          </p>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="col py-3 bg-light" style="overflow-y: auto; height: 100vh">
      <h1 class="text-center mb-4 w-100 p-3 dashheader">
        National Maternal Tracker
      </h1>

      <!-- Show Lab Results -->
      <div *ngIf="labResultForselectedpatient" class="text-center">
        <h2 class="subtitle">
          <button
            class="btn btn-sm me-3 btn-dark m-1"
            (click)="loadDynamicData(selectedPatient.id)"
          >
            <span class="bi bi-arrow-left"></span> Back to tack
          </button>
          Lab Results for
          <span class="text-danger">{{ selectedPatient.name }}</span>
        </h2>

        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Patient ID</th>
              <th>Last HIV Viral Load</th>
              <th>Last HIV Date Done</th>
              <th>First Trimester Viral Load</th>
              <th>First Trimester Date Done</th>
              <th>Second Trimester Viral Load</th>
              <th>Second Trimester Date Done</th>
              <th>Third Trimester Viral Load</th>
              <th>Third Trimester Date Done</th>
              <th>Baby PCR at 6 Months</th>
              <th>Baby PCR Date Done</th>
              <th>HIV Serology at 18 Months</th>
              <th>HIV Serology Date Done</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let labResult of selectedPatientLabResults">
              <td>{{ labResult.patient_id }}</td>
              <td>{{ labResult.last_hiv_viral_load }}</td>
              <td>{{ labResult.last_hiv_date_done | date }}</td>
              <td>{{ labResult.first_trimester_viral_load }}</td>
              <td>{{ labResult.first_trimester_date_done | date }}</td>
              <td>{{ labResult.second_trimester_viral_load }}</td>
              <td>{{ labResult.second_trimester_date_done | date }}</td>
              <td>{{ labResult.third_trimester_viral_load }}</td>
              <td>{{ labResult.third_trimester_date_done | date }}</td>
              <td>{{ labResult.baby_pcr_at_6_months }}</td>
              <td>{{ labResult.baby_pcr_date_done | date }}</td>
              <td>{{ labResult.hiv_serology_at_18_months }}</td>
              <td>{{ labResult.hiv_serology_date_done | date }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
        *ngIf="
          newPatient &&
          !bulksms &&
          !showDynamicData &&
          !labResultForselectedpatient
        "
        class="text-center"
      >
        <app-new-patient></app-new-patient>
      </div>

      <div *ngIf="newlabresults" class="text-center">
        <app-new-lab-results></app-new-lab-results>
      </div>
      <!-- Router Outlet for NewPatientComponent -->
      <div
        *ngIf="
          bulksms &&
          !showDynamicData &&
          !labresults &&
          !labResultForselectedpatient
        "
        class="text-center"
      >
        <app-send-bulk-sms></app-send-bulk-sms>
      </div>
      <!-- Existing code -->

      <div
        *ngIf="
          labresults &&
          !showDynamicData &&
          !showPatients &&
          !editPatientFormVisible &&
          !newPatient &&
          !labResultForselectedpatient
        "
        class="text-center"
      >
        <h1 class="text-danger">Lab Results</h1>

        <!-- Display patient and lab result data -->
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Patient ID</th>
              <th>Last HIV Viral Load</th>
              <th>Last HIV Date Done</th>
              <th>First Trimester Viral Load</th>
              <th>First Trimester Date Done</th>
              <th>Second Trimester Viral Load</th>
              <th>Second Trimester Date Done</th>
              <th>Third Trimester Viral Load</th>
              <th>Third Trimester Date Done</th>
              <th>Baby PCR at 6 Months</th>
              <th>Baby PCR Date Done</th>
              <th>HIV Serology at 18 Months</th>
              <th>HIV Serology Date Done</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let labResult of AllLabResults">
              <td>{{ labResult.patient_id }}</td>
              <td>{{ labResult.last_hiv_viral_load }}</td>
              <td>{{ labResult.last_hiv_date_done | date }}</td>
              <td>{{ labResult.first_trimester_viral_load }}</td>
              <td>{{ labResult.first_trimester_date_done | date }}</td>
              <td>{{ labResult.second_trimester_viral_load }}</td>
              <td>{{ labResult.second_trimester_date_done | date }}</td>
              <td>{{ labResult.third_trimester_viral_load }}</td>
              <td>{{ labResult.third_trimester_date_done | date }}</td>
              <td>{{ labResult.baby_pcr_at_6_months }}</td>
              <td>{{ labResult.baby_pcr_date_done | date }}</td>
              <td>{{ labResult.hiv_serology_at_18_months }}</td>
              <td>{{ labResult.hiv_serology_date_done | date }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="makecall" class="text-center">
        <app-makecall></app-makecall>
      </div>
      <div class="my-5" *ngIf="editedPatient">
        <h5 class="alert alert-success text-center my-5">
          Successfully edited patient
          <i class="bi bi-check-fill text-success"></i>
        </h5>
        <p class="text-center">
          <a
            (click)="reloadPatients()"
            class="btn btn-dark px-3 align-middle px-0"
          >
            <span class="ms-1 d-none d-sm-inline">All Patients</span>
            <i class="fs-4 bi-database-fill ms-2"></i>
          </a>
        </p>
      </div>
      <div class="my-5" *ngIf="deletedpatientAlert">
        <h5 class="alert alert-success text-center my-5">
          Successfully deleted patient
          <i class="bi bi-check-fill text-success"></i>
        </h5>
        <p class="text-center">
          <a
            (click)="reloadPatients()"
            class="btn btn-dark px-3 align-middle px-0"
          >
            <span class="ms-1 d-none d-sm-inline">All Patients</span>
            <i class="fs-4 bi-database-fill ms-2"></i>
          </a>
        </p>
      </div>
      <div class="m-0" *ngIf="!newPatient">
        <!-- Patients Table -->
        <div *ngIf="showPatients">
          <form>
            <h2 class="subtitle">
              Patients List
              <input
                type="text"
                placeholder="Search patient name"
                (input)="onSearchChange(searchQuery)"
              />
            </h2>
          </form>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Date of Birth</th>
                <th>Clinic</th>
                <th>Village</th>
                <th>District</th>
                <th>Mobile</th>
                <th>WhatsApp No.</th>
                <th>NOK</th>
                <th>NOK Contact</th>
                <th>Favourite Social Media</th>
                <th>Favourite Radio</th>
                <th>Favourite TV</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let patient of patients">
                <td>{{ patient.name }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.dob }}</td>
                <td>{{ patient.clinic }}</td>
                <td>{{ patient.village }}</td>
                <td>{{ patient.district }}</td>
                <td>{{ patient.mobile }}</td>
                <td>{{ patient.whatsapp_no }}</td>
                <td>{{ patient.nok }}</td>
                <td>{{ patient.nok_contact }}</td>
                <td>{{ patient.favourite_social_media }}</td>
                <td>{{ patient.favourite_radio }}</td>
                <td>{{ patient.favourite_tv }}</td>
                <td>
                  <button
                    class="btn btn-sm btn-primary m-1"
                    (click)="loadDynamicData(patient.id)"
                  >
                    Track
                  </button>
                  <button
                    class="btn btn-sm btn-dark m-1"
                    (click)="loadPatientForEdit(patient)"
                  >
                    Edit
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Edit Patient Form -->
        <div
          *ngIf="
            editPatientFormVisible &&
            !showDynamicData &&
            !labResultForselectedpatient
          "
          class="container"
        >
          <h2 class="text-center subtitle">
            Edit Patient
            <button class="btn btn-danger" (click)="onDeletePatient()">
              <i class="bi bi-trash"></i> Delete
            </button>
          </h2>

          <form
            [formGroup]="editPatientForm"
            (ngSubmit)="onSubmitEdit()"
            class="innerform"
          >
            <div class="row">
              <div class="col-md-3"></div>
              <!-- First Column -->
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    id="name"
                    formControlName="name"
                    class="form-control"
                  />
                </div>

                <div class="form-group">
                  <label for="dob">Date of Birth</label>
                  <input
                    id="dob"
                    formControlName="dob"
                    type="date"
                    class="form-control"
                  />
                </div>

                <div class="form-group">
                  <label for="clinic">Clinic</label>
                  <input
                    id="clinic"
                    formControlName="clinic"
                    class="form-control"
                  />
                </div>

                <div class="form-group">
                  <label for="village">Village</label>
                  <input
                    id="village"
                    formControlName="village"
                    class="form-control"
                  />
                </div>

                <div class="form-group">
                  <label for="mobile">Mobile Number</label>
                  <input
                    id="mobile"
                    formControlName="mobile"
                    type="text"
                    class="form-control"
                  />
                </div>

                <div class="form-group">
                  <label for="nok">Next of Kin</label>
                  <input id="nok" formControlName="nok" class="form-control" />
                </div>
              </div>

              <!-- Second Column -->
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <label for="district">District</label>
                  <input
                    id="district"
                    formControlName="district"
                    class="form-control"
                  />
                </div>

                <div class="form-group">
                  <label for="whatsapp_no">Whatsapp Number</label>
                  <input
                    id="whatsapp_no"
                    formControlName="whatsapp_no"
                    type="text"
                    class="form-control"
                  />
                </div>

                <div class="form-group">
                  <label for="nok_contact">Next of Kin Contact</label>
                  <input
                    id="nok_contact"
                    formControlName="nok_contact"
                    type="text"
                    class="form-control"
                  />
                </div>

                <div class="form-group">
                  <label for="favourite_social_media"
                    >Favourite Social Media</label
                  >
                  <input
                    id="favourite_social_media"
                    formControlName="favourite_social_media"
                    class="form-control"
                  />
                </div>

                <div class="form-group">
                  <label for="favourite_radio">Favourite Radio</label>
                  <input
                    id="favourite_radio"
                    formControlName="favourite_radio"
                    class="form-control"
                  />
                </div>

                <div class="form-group">
                  <label for="favourite_tv">Favourite TV</label>
                  <input
                    id="favourite_tv"
                    formControlName="favourite_tv"
                    class="form-control"
                  />
                </div>
                <button type="submit" class="w-100 btn btn-primary mt-3">
                  Update Patient Data
                </button>
              </div>
            </div>
          </form>
        </div>

        <!-- Dynamic Data for the selected patient -->
        <div
          *ngIf="
            selectedPatient &&
            !editedPatient &&
            !editPatientFormVisible &&
            !bulksms &&
            !labresults &&
            !labResultForselectedpatient
          "
          class="mt-4"
        >
          <h2 class="subtitle">
            Track <span class="text-danger">{{ selectedPatient.name }}</span>
            <button
              class="ms-3 btn btn-success"
              (click)="callSelectedPatient(selectedPatient.id)"
            >
              Make Call <span class="bi bi-telephone-fill"></span>
            </button>
            <button
              class="ms-3 btn btn-info"
              (click)="loadLabResults(selectedPatient.id)"
            >
              Lab results <span class="bi bi-gear-wide-connected"></span>
            </button>
          </h2>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Call Number</th>
                <th>Reminder Date</th>
                <th>Adherence Challenge</th>
                <th>Complaint</th>
                <th>Complaint Status</th>
                <th>Baby PCR</th>
                <th>HIV Serology</th>
                <th>Exit Status</th>
              </tr>
            </thead>

            <tbody *ngIf="dynamicData.length > 0">
              <tr *ngFor="let data of dynamicData">
                <td>{{ data.reminder_call_number }}</td>
                <td>{{ data.reminder_date }}</td>
                <td>{{ data.adherence_challenges }}</td>
                <td>No Complaint</td>
                <td>None</td>
                <td>{{ data.baby_pcr_result }}</td>
                <td>{{ data.hiv_serology_18_months }}</td>
                <td>{{ data.exit_status }}</td>
              </tr>
            </tbody>
          </table>

          <div
            class="text-center p-5"
            *ngIf="
              dynamicData.length === 0 &&
              selectedPatient &&
              !labResultForselectedpatient
            "
          >
            <h1 class="alert alert-danger mx-auto">No Calls Yet !</h1>
          </div>
        </div>

        <!-- Optional Default Content -->
        <div
          *ngIf="
            !showPatients && !selectedPatient && !labResultForselectedpatient
          "
          class="text-center d-none"
        >
          <p>Welcome to the dashboard! Use the sidebar to navigate.</p>
        </div>
      </div>
    </div>
  </div>
</div>
